.home_bg {
    color: #282828;
    height: 500px;
    place-items: center;
    background-image: url("../image/home-bg.png");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_bg_text {
    width: 50%;
}

.text {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bolder;
    text-transform: uppercase;
    color: #282828;
    letter-spacing: 4px;
    position: relative;
    width: fit-content;
}

.text::before {
    word-wrap: break-word;
    word-break: break-all;
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #0EA900;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #0EA900;
    animation: text-fill 2s ease-in-out alternate infinite;
}


@keyframes text-fill {
    100% {
        width: 100%;
    }
}

#about p {
    line-height: 2;
}

#about ol li {
    line-height: 2;
}

.about-page {
    width: 50%;
}

.footer-points {
    color: #ececec !important;
}

.footer-points:hover {
    color: #cecece !important;
}