.home_bg {
    color: #282828;
    height: 450px;
    place-items: center;
    background-color: #eef3f5;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button {
    width: max-content;
    min-width: 10%;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #009aff;
    border: 1px solid transparent;
    padding: 10px 17px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.home-button:hover {
    background-color: #038de9;
}

.text {
    font-weight: bolder;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 4px;
    position: relative;
    width: fit-content;
}

.text::before {
    word-wrap: break-word;
    word-break: break-all;
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #009aff;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #009aff;
    animation: text-fill 2s ease-in-out alternate infinite;
}


@keyframes text-fill {
    100% {
        width: 100%;
    }
}

#about p {
    line-height: 2;
}

#about ol li {
    line-height: 2;
}

#about ul li {
    line-height: 2;
}

.about-page {
    width: 50%;
}

.footer-points {
    color: #ececec !important;
}

.footer-points:hover {
    color: #cecece !important;
}

.finding-group-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.finding-icon {
    width: 60px;
    height: 60px;
}

.not-found {
    min-height: 90vh;
}

.feedback {
    width: 60%;
    line-height: 2;
}

.card {
    padding: 25px 40px 5px 40px;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    cursor: pointer;
    border-color: #f2f7ff;
}

.feed-group {
    width: 90%;
    margin-bottom: 25px;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

.no-posts {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.confirm-delete {
    position: fixed;
    width: max-content;
    top: 20%;
    height: max-content;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}