.posts {
    width: 50%;
    word-wrap: break-word;
}

.post-group {
    display: flex;
    align-items: center;
}

.posts-image {
    width: 25%;
}

.view-post {
    width: 50%;
}

#post {
    font-size: 14px !important;
    color: #484848;
    word-wrap: break-word;
}

#post div {
    margin-bottom: 0px;
}

#post h1 {
    font-weight: 800 !important;
    line-height: 1.5;
}

#post h2 {
    font-weight: 800 !important;
    line-height: 1.5;
}

#post h3 {
    font-weight: 800 !important;
    line-height: 2;
}

#post h4 {
    font-weight: 800 !important;
    line-height: 2;
}

#post h5 {
    font-weight: 800 !important;
    line-height: 2;
}

#post h6 {
    font-weight: 800 !important;
    line-height: 2;
}

#post a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#post img {
    width: 100% !important;
}

#post p {
    line-height: 2;
    margin-bottom: 25px;
}

#post u {
    line-height: 2;
    margin-bottom: 25px;
}

#post b {
    line-height: 2;
    margin-bottom: 25px;
}

#post i {
    line-height: 2;
    margin-bottom: 25px;
}

#post ul li {
    line-height: 2;
    margin-bottom: 25px;
}

#post button {
    width: max-content;
    min-width: 10%;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #0ea900;
    border: 1px solid transparent;
    padding: 12px 17px;
    border-radius: 100px;
    margin-bottom: 10px;
}



#post button:hover {
    background-color: #0f8e03;
}

#post button a {
    text-decoration: none;
    color: #ffffff;
}

#post-comment {
    word-break: break-all !important;
}

#post-comment textarea {
    width: 100%;
    min-height: 100px !important;
    height: max-content;
    padding: 10px 15px;
    outline: none !important;
    border: #b8b8b8 1px solid;
    border-radius: 20px;
    line-height: 2;
}

.user-circle {
    background-color: #0ea900;
    color: #ffffff;
    font-size: 17px;
    min-width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100px;
    border: #aeffa7 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmt-btn {
    width: max-content;
    min-width: 10%;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #0ea900;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 100px;
}

a {
    text-decoration: none;
    color: #333333;
}

.editor-post {
    width: 50%;
}

.editor-select {
    width: 20%;
}

.edit-delete-post {
    width: 50%;
}