.posts {
    width: 50%;
    word-wrap: break-word;
}

.post-group {
    display: flex;
    align-items: start;
    column-gap: 25px;
        font-size: 13px !important;
        margin-bottom: 15px;
        word-break: break-word !important;
}

.posts-image {
    width: 20%;
}

.view-post {
    width: 50%;
}

#post {
    font-size: 13.5px !important;
        color: #121212;
    word-wrap: break-word;
}

#post div {
    margin-bottom: 0px;
}

#post h1 {
    font-weight: 800 !important;
    line-height: 2;
        font-size: 20px !important;
}

#post h2 {
    font-weight: 800 !important;
    line-height: 2;
        font-size: 16px !important;
}

#post h3 {
    font-weight: 800 !important;
    line-height: 2;
}

#post h4 {
    font-weight: 800 !important;
    line-height: 2;
}

#post h5 {
    font-weight: 800 !important;
    line-height: 2;
}

#post h6 {
    font-weight: 800 !important;
    line-height: 2;
}

#post a {
    width: 100%;
    display: flex;
    justify-content: center;
    display: contents !important;
        color: #009aff !important;
        cursor: pointer !important;
        line-height: 2.5;
    }
    
    #post a:hover {
        color: #038de9 !important;
}

#post img {
    width: 75% !important;
}

#post p {
    line-height: 2.5;
}

#post u {
    line-height: 2.5;
}

#post b {
    line-height: 2.5;
}

#post i {
    line-height: 2.5;
}

#post ul li {
    line-height: 2.5;
}


#post button {
    width: max-content;
    min-width: 10%;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #009aff;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 10px;
}

#post button:hover {
    background-color: #038de9;
}

#post button a {
    text-decoration: none;
    color: #ffffff;
}

#post-comment {
    word-break: break-all !important;
}

#post-comment textarea {
    width: 100%;
    min-height: 100px !important;
    height: max-content;
    padding: 10px 15px;
    outline: none !important;
    border: #b8b8b8 1px solid;
    border-radius: 10px;
    line-height: 2.2;
}

.user-circle {
    background-color: #009aff;
    color: #ffffff;
    font-size: 17px;
    min-width: 35px;
        height: 35px;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmt-btn {
    width: max-content;
    min-width: 10%;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #009aff;
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 10px;
}

.cmt-btn:hover {
    background-color: #038de9;
}
a {
    text-decoration: none;
    color: #333333;
}

.editor-post {
    width: 50%;
}

.editor-select {
    width: 20%;
}

.edit-delete-post {
    width: 50%;
}

#activity img {
    width: 100% !important;
}

.wrap {
    word-break: break-word !important;
}