@media (max-width: 600px) {
    .navbar {
        padding: 0px !important;
    }

    .input-search {
        width: 100%;
    }

    .home-content {
        width: 90%;
        margin-left: 0;
    }

    .subscribe input {
        width: 40%;
    }

    .home-section-width {
        width: 90%;
    }

    .choose-image-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-group {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        row-gap: 20px;
    }

    .blog-edit-layout {
        width: 90%;
    }

    .blog-responsive {
        width: 90%;
    }

    .blog-card {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .blog-card-image {
        width: 100% !important;
    }

    #blog h1 {
        font-size: 20px !important;
    }

    #blog h2 {
        font-size: 17px !important;
    }

    .react-paginate {
        display: flex;
        align-items: center;
        column-gap: 10px;
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .search-container {
        position: static;
    }
.form-group {
    width: 90% !important;
}
}

@media (min-width: 600px) and (max-width: 768px) {
    .input-search {
        width: 350px;
    }

    .home-content {
        width: 90%;
        margin-left: 0;
    }

    .home-section-width {
        width: 90%;
    }

    .footer-group {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        row-gap: 20px;
    }

    .blog-edit-layout {
        width: 90%;
    }

    .blog-responsive {
        width: 80%;
    }

    .search-container {
        position: static;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .home-content {
        width: 50%;
        margin-left: 5%;
    }

    .home-section-width {
        width: 80%;
    }

    .footer-group {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        row-gap: 20px;
    }

    .blog-edit-layout {
        width: 80%;
    }

    .blog-responsive {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .home-content {
        width: 50%;
        margin-left: 10%;
    }

    .blog-responsive {
        width: 70%;
    }
}