@media (max-width: 600px) {
    .view-post {
        width: 90%;
    }

    .posts {
        width: 90%;
        word-wrap: break-word;
    }

    .auth-page form {
        width: 70%;
    }

    .editor-post {
        width: 90%;
    }

    #post img {
        width: 100% !important;
    }

    .editor-select {
        width: 40%;
    }

    .edit-delete-post {
        width: 90%;
    }

    .about-page {
        width: 90%;
    }

    .finding-group {
        background-color: #edefee;
        padding: 50px 10%;
    }

    .finding-group-icons {
        display: grid;
        grid-template-columns: auto auto !important;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        column-gap: 25px;
    }

    .feedback {
        width: 90%;
        line-height: 2;
    }

    .feed-group {
        width: 100%;
    }

    .not-found {
        width: 90%;
    }
        #post h1 {
            font-size: 20px !important;
        }
}

@media (min-width: 600px) {
    .view-post {
        width: 80%;
    }

    .posts {
        width: 90%;
        word-wrap: break-word;
    }

    .auth-page form {
        width: 40%;
    }

    .editor-post {
        width: 70%;
    }

    .editor-select {
        width: 40%;
    }

    .about-page {
        width: 70%;
    }

    .feedback {
        width: 80%;
    }

}

@media (max-width: 768px) {
    .home_bg {
        display: flex;
        flex-direction: column;
        height: 70vh;
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        align-items: start;
    }

    .home_bg_text {
        width: 100%;
    }

    .edit-delete-post {
        width: 90%;
    }

    .finding-group {
        background-color: #edefee;
        padding: 50px 10%;
    }

    .finding-group-icons {
        display: grid;
        grid-template-columns: auto auto !important;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        column-gap: 25px;
    }
}

@media (min-width: 768px) {
    .view-post {
        width: 70%;
    }

    .posts {
        width: 70%;
        word-wrap: break-word;
    }

    .auth-page form {
        width: 40%;
    }

    .edit-delete-post {
        width: 70%;
    }

    .about-page {
        width: 60%;
    }

    .feedback {
        width: 75%;
    }

    .finding-group-icons {
        display: grid;
        grid-template-columns: auto auto !important;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        column-gap: 25px;
    }
}

@media (min-width: 992px) {
    .view-post {
        width: 60%;
    }

    .posts {
        width: 60%;
        word-wrap: break-word;
    }

    .auth-page form {
        width: 30%;
    }

    .feedback {
        width: 70%;
    }

    .finding-group-icons {
        display: grid;
        grid-template-columns: auto auto auto auto !important;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
    }
}

@media (min-width: 1200px) {
    .view-post {
        width: 50%;
    }

    .posts {
        width: 50%;
        word-wrap: break-word;
    }

    .auth-page form {
        width: 20%;
    }

    .editor-post {
        width: 50%;
    }

    .editor-select {
        width: 20%;
    }

    .edit-delete-post {
        width: 50%;
    }

    .about-page {
        width: 50%;
    }

    .feedback {
        width: 60%;
    }
}